body {
    margin: 0;
    padding: 0;
}

main .wraper {
    background: url(images/Maps.png) center;
    background-size: cover;
    width: 100%;
    height: 700px;
}

main .wraper2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #151515;
    height: 548px;
}

main .wraper2 .text1 {
    color: #FFFFFF;
}

main .wraper2 .text1 h1 {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
}

main .wraper2 .text2 {
    color: #FFFFFF;
}

main .wraper2 .text2 h2 {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    color: #D5966C;
}

main .wraper2 .text2 p {
    max-width: 540px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
}

main button {
    background: none;
    border: none;
    position: absolute;
    display: flex;
    width: 300px;
    height: 72px;
    padding: 0;
    margin: 0;
    left: 100px;
    top: 0px;
}

main button .right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    width: 230px;
    height: 72px;
    color: #FFFFFF;
    background: #151515;
}

main button .left {
    transform: scaleX(-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #FFFFFF;
    background: #D5966C;
    width: 70px;
    height: 72px;
}

footer .foot {
    background: #D5966C;
    height: 244px;
    display: flex;
    align-items: center;
}

footer .foot .text3 {
    color: #151515;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

footer .foot .text3 p {
    width: 430px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

footer .foot .text3 .wraper3 {
    display: flex;
    gap: 8px;
}
