body {
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    margin-bottom: 200px;
    max-width: 1475px;
}

header .black {
    background: #151515;
    background-size: cover;
    width: 550px;
    height: 850px;
}

header .wraper {
    width: 640px;
    height: 850px;
    background: url(images/Rectangle.jpg) center;
    background-size: cover;
}

header h1 {
    mix-blend-mode: exclusion;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 76px;
    line-height: 88px;
    color: #FFFFFF;
    position: absolute;
    left: 220px;
    top: 120px;
}

header p {
    width: 350px;
    height: 160px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #444444;
    position: absolute;
    left: 1100px;
    top: 190px;
}

header button {
    background: none;
    border: none;
    position: absolute;
    display: flex;
    width: 300px;
    height: 72px;
    padding: 0;
    margin: 0;
    left: 1100px;
    top: 450px;
}

header button .left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    width: 230px;
    height: 72px;
    color: #FFFFFF;
    background: #151515;
}

header button .right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #FFFFFF;
    background: #D5966C;
    width: 70px;
    height: 72px;
}

main article {
    display: flex;
    justify-content: center;
}

main article .image {
    background: url(images/1.jpg) center;
    background-size: cover;
    width: 635px;
    height: 400px;
    margin-bottom: 30px;
}

main article .text {
    max-width: 350px;
}

main article .text h1 {
    max-width: 350px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    color: #151515;
}

main article .text p {
    max-width: 350px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #444444;
}

main article .wraper2 {
    width: 1110px;
    display: flex;
    justify-content: space-between;
}

main article .wraper3 {
    width: 1110px;
    display: flex;
    justify-content: space-between;
}

main article .wraper3 .article-img-box {
    background: url(images/2.jpg) center;
    background-size: cover;
    width: 635px;
    height: 720px;
}

main article .wraper3 .image2 {
    background: url(images/3.jpg) center;
    background-size: cover;
    width: 445px;
    height: 313px;
    margin-bottom: 30px;
}

main article .wraper3 .wraper4 {
    background: #151515;
    width: 445px;
    height: 377px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

main article .wraper3 .wraper4 h1 {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
}

main article .wraper3 .wraper4 p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
}

main article .wraper3 .wraper4 .text2 {
    width: 350px;
    height: 248px;
}

footer {
    margin-top: 200px;
    max-width: 100%;
}

footer .foot {
    background: #151515;
    height: 244px;
    display: flex;
    align-items: center;
}

footer .foot .text3 {
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

footer .foot .text3 p {
    width: 430px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

footer .foot .text3 .wraper5 {
    display: flex;
    gap: 8px;
}
