body {
  font-family: Arial, sans-serif;
  background-color: #51b1a1;
  margin: 0;
  padding: 20px;
  color: #333;
}

.container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.tags-container {
  margin: 10px 0;
}

.tag-btn {
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.tag-btn.selected {
  background-color: #333;
  color: #fff;
}

#filter-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.vacancies {
  margin-top: 20px;
}

.vacancy {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.vacancy.hidden {
  display: none;
}

.tags span {
  display: inline-block;
  margin: 3px;
  padding: 5px 10px;
  background-color: #ddd;
  border-radius: 3px;
}
і